*{
    font-family: "Work Sans", sans-serif;
}
/*Share3 style*/
.btn-primary{
    
}
header{
background: rgb(255, 144, 14, 0.14);
padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
   margin-right: 30px;
   font-weight: 500;
   font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
/*banner style*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}
.banner-desription{
    color: #727272;

}