*{
    font-family: "Work Sans", sans-serif;
}
/*Share3 style*/
.btn-primary{
    border-radius: 5px;
    background: #ff900f;
    margin: 20px 25px ;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;

}
.description-light-gry{
    color: #727272;

}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/*Header style*/
header{
background: rgb(255, 144, 14, 0.14);
padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
   margin-right: 30px;
   font-weight: 500;
   font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/*banner style*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner img{
    margin-top: 20px;
    width: 100%}

/* Main style*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.tems-content{
    padding-left: 70px;
    padding-right: 70px;
}
.tems-title{
    font-size: 2.8rem;
}
.tems-title .quick-list{

    font-weight: 500;
}
.tems-title .text-features{
    color: #ff900f;
    font-weight: 700;
}

/* featured section style*/
.featured{
    display: flex;
    margin-top: 130px;
    gap: 100px;

}
.featured-content .card{
    padding: 20px;
    margin-bottom: 20px;
border-radius: 8px;
background: #fff;
box-shadow: 0px 30px 40px 0px rgb(0, 0, 0, .06);
}
.featured .section-title{
    border-left: 5px solid #ff900f;
    padding-left: 20px;
}
.featured-img img{
    height: 90%;
    margin-left: 50px;
}
.ten-years{
    border-radius: 8px;
    background: #ff900f;
    color: #fff;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years p{
    font-size: 1.5rem;
    
}
/*Facts Section*/
.facts-ard-container{
display: flex;
justify-content: space-around;
}
.facts-ard-container .card{
    border: 2px solid #ff900fff;
    border-radius: 8px;
    text-align: center;
    padding: 40px 30px;
}
.facts-ard-container .card-title{
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-ard-container .card-stats{
    color: #424242;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*Spnsors*/
.Sponsors{
    text-align: center;
}
.Sponors-img-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
.Sponors-img-container img{
    width: 165px;
}

.footer{
    margin-top: 100px;
    background: #fff4e7;
    width: 100%;
    height: 50px;
}
.footer p{
    text-align: center;
    font-size: 12px;
    padding-top: 18px;
    font-weight: 500;
}
/*Banner image responsive*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
     .team-container,
     .featured,
     .facts-ard-container,
     .Sponors-img-container
     {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .tems-content, .facts-ard-container
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .featured-img img{
        width: 90%;
        margin-left: 0;
    }
    .ten-years{
        position: static;
        width: 300px;
    }

    .facts-ard-container{
        gap: 20px;
    }
    
    
}
/* for tablet */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav, 
    .team-container,
    .featured,
    .Sponors-img-container
    {
    flex-direction: column;
    }    
}   
