*{
    font-family: "Work Sans", sans-serif;
}
/*Share3 style*/
.btn-primary{
    border-radius: 5px;
    background: #ff900f;
    margin: 20px 25px ;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;

}
.description-light-gry{
    color: #727272;

}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/*Header style*/
header{
background: rgb(255, 144, 14, 0.14);
padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
   margin-right: 30px;
   font-weight: 500;
   font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/*banner style*/
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner img{
    margin-top: 20px;
    width: 100%}

/* Main style*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.tems-content{
    padding-left: 70px;
    padding-right: 70px;
}
.tems-title{
    font-size: 2.8rem;
}
.tems-title .quick-list{

    font-weight: 500;
}
.tems-title .text-features{
    color: #ff900f;
    font-weight: 700;
}
.tems-title

/*Banner image responsive*/
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
     .team-container{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .tems-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
/* for tablet */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
nav, .team-container{
    flex-direction: column;
}    
    
}
